.container{

    display: flex;
    justify-content: center;           
    border: solid 2px rgb(16, 15, 15);
    height: 500px;

}

.box{

    border: solid 2px red;
    width: 150px;
    height: 150px;
    margin-left: 2%;
    margin-top: 10%;
}

.h1{

    font-size:15px;

    /* font-size: 5vw; */
}