.container{

    border: 2px solid black;
    height: 500px;
}

#outputbox{

border: 2px solid rgb(20, 4, 79);
border-radius: 2px;
width:90%;
margin-left: 85px;
margin-top: 20px;
height: 70%;
color: rgb(8, 92, 161);
font-weight: bold;
margin-left: 20px;

}
#inputbox{

    margin-left: 400px;
    width: 260px;
    height: 25px;
    text-align: center;
}
.container button{

    margin-left: 20px;
    width: 6%;
    height: 6%;
    background-color: rgb(33, 214, 84);
}
button:hover{
background-color: aqua;
/* color: blue; */
font-weight: bold;
box-shadow: 10px 10px #ebeaea;
}