.container{

    display: flex;
    justify-content: center;
    background-color: solid 3px black;
    height: 270px;
    background-color: black;
    border-radius: 20px;
    margin-top: 190px;
    width: 990px;
    margin-left: 100px;
    
}
body{

    background-color: rgb(134, 251, 175);
}

#box{
   
    border: 2px solid rgb(156, 129, 183);
    width: 90px;
    height: 50px;
    border-radius: 2px;
    margin-left: 90px;
    margin-top: 30px;
    background-color: blanchedalmond;

}
h1{

    margin-top: 10px;
    margin-left: 25px;
    
}
#btn{

    background-color: rgb(114, 2, 101);
    font-weight: bold;
    font-size: large;
    color: white;
    height: 39px;
    border-radius: 10px;
    box-shadow: inset 1px 2px #a09e9e;
    margin-top: 70px;
}